<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">Watchlist</a>
  </nav>
<div class='container'>
<h2>Create a New List</h2>
<%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit "Create List", class: "btn btn-dark" %>
<% end %>
<%= link_to "Back to all lists", lists_path %>
</div>
