.banner{
  background-image: url('myke-simon-atsUqIm3wxo-unsplash (1).jpg');
  height: 1000px;
  background-size: cover;
  h1 {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  }
}

.banner-show{
  background-image: url('clay-banks-hwLAI5lRhdM-unsplash (1).jpg');
  height: 800px;
  background-size: cover;
  h1 {
    font-size: 70px;
    font-weight: 700;
    font-style: italic;
    color: white;

  }
  h3{
    color: white;
  }
}

.card-background{
  background-image: url('jakob-owens-CiUR8zISX60-unsplash.jpg');
  background-size: cover;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
